.piece {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
}
.piece-1 {
  transform: rotate(45deg) skewX(45deg);
}
.piece-2 {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
.piece-3 {
  transform: rotate(45deg);
}
.piece-4 {
  width: 50px;
  height: 100px;
}
