@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ding {
  33% {
    transform: translateX(-15px);
  }
  66% {
    transform: translateX(15px);
  }
}

.arrow-small {
  animation-name: rotate;
  animation-duration: 1s;
}

.bell {
  animation-name: ding;
  animation-duration: 1s;
}
