.btn-primary {
  background-color: #6e1bff;
  /* &-правило добавьте тут */
}
.btn-primary-hover,
.btn-primary:hover {
  background-color: #af81ff;
}
.btn-primary-pressed,
.btn-primary:active {
  background-color: #4200b4;
}
.btn-primary-disabled {
  color: rgba(255, 255, 255, 0.8);
  background-color: #bbadd3;
}
