.triangle-box-top {
  width: 0;
  height: 0;
  border-width: 50px;
  border-style: solid;
  border-color: #ff4136;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-style: none;
}
.triangle-box-right {
  width: 0;
  height: 0;
  border-width: 50px;
  border-style: solid;
  border-color: #0074d9;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-style: none;
}
.triangle-box-bottom {
  width: 0;
  height: 0;
  border-width: 50px;
  border-style: solid;
  border-color: #2ecc40;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-style: none;
}
.triangle-box-left {
  width: 0;
  height: 0;
  border-width: 50px;
  border-style: solid;
  border-color: #b10dc9;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-style: none;
}
