@keyframes fly {
  to {
    transform: translate(240px, 260px) rotate(-30deg);
  }
}

.rocket {
  animation-name: fly;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}