.btn {
  background-color: #00e676;
  color: #ffffff;
  transition-duration: 1s, 3s;
  transition-property: background-color, transform;
}

.btn-active {
  background-color: #ff5252;
  font-size: 60px;
  transform: rotate(180deg);
}
