@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.arrow {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
