.stair-10 {
  background-color: #4cff36;
  width: 100%;
}
.stair-9 {
  background-color: #36ff73;
  width: 90%;
}
.stair-8 {
  background-color: #36ffc7;
  width: 80%;
}
.stair-7 {
  background-color: #36e3ff;
  width: 70%;
}
.stair-6 {
  background-color: #3690ff;
  width: 60%;
}
.stair-5 {
  background-color: #363cff;
  width: 50%;
}
.stair-4 {
  background-color: #8436ff;
  width: 40%;
}
.stair-3 {
  background-color: #d836ff;
  width: 30%;
}
.stair-2 {
  background-color: #ff36d3;
  width: 20%;
}
.stair-1 {
  background-color: #ff367f;
  width: 10%;
}
