.barrow-wheel {
  animation-name: rotate;
  animation-duration: 2s;
}

@keyframes rotate {
  50% {
    transform: rotate(-90deg);
    /*transform: rotate(90deg);*/
  }
  100% {
    transform: rotate(360deg);
  }
}
