.label-box {
  position: relative;
  width: 270px;
}

.label-box::before {
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 50%;
  height: 2px;
  background-color: #757575;
  content: "";
}

.label-box::after {
  position: absolute;
  right: 50%;
  bottom: 1px;
  width: 50%;
  height: 2px;
  background-color: #757575;
  content: "";
}

input {
  box-sizing: border-box;
  padding: 5px;
  width: 270px;
  border: none;
  border-bottom: 1px solid #757575;
  font-size: 18px;
}

label {
  position: absolute;
  top: -36px;
  color: #757575;
  font-size: 18px;
  transition: 0.2s ease all;
  pointer-events: none;
}

input:focus ~ .label-box label,
input:valid ~ .label-box label {
  font-size: 14px;
  transform: translateY(-20px);
}
