.platform {
  animation-name: lift-up;
  animation-duration: 3s;
}

@keyframes lift-up {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(-300px);
  }

}
